html, body {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#first, footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a9a9a9;
    color: white;
}




#boutons {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}

#content .scrollable {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.header-link {
    padding: 10px;
    text-decoration: none; 
    border-radius: 5px;
    font-size: larger;
    color: white;
    background-color: gray;
    margin-right: 2px;
}


#text-accueil {
    text-align: center;
    font-size: x-large;
}

#header-title {
    font-size: x-large;
    margin: auto;
}

#first {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* #second{
    background-color: #808080;
    border: 2px solid black;
} */


#all {
    padding: 10px;
    font-size:larger;
    width: 80%;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color:#dcdcdc;
}

span {
    color: red;
    font-weight: bold;
}

form {
    border: none;
    width: 50%;
    display: flex;
    padding: 20px;
    border-radius: 5px;
    background-color:whitesmoke;

}

.formContainer {
    margin: auto;
    width: 100%;

}

.divClass {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.formLabel {
    margin-bottom: 5px;
    font-size: x-large;
}

.formInput {
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color: white;
}

#bouton {
    margin-top: 20px;
    padding: 15px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    background-color: cadetblue;
    border:none;
    color:whitesmoke;
}